 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     padding: 0;
 }

 .main {
     height: 100%;
     width: 100%;
     position: relative;
 }

 .nav {
     height: 50px;
     width: 100%;
     border-bottom: 1px solid black;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 3vh;
 }

 .nav-part2 {
     display: flex;
     align-items: center;
     gap: 3vw;
 }

 .nav h2 {
     font-weight: 1vw;
     font-weight: 700;
 }

 .nav h4 {
     font-weight: 1vw;
 }

 .nav i {
     display: none;
 }

 .content {
    height: calc( 100% - 52px );
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
}
.left {
    height: 100%;
    width: 50%;
    background-color: cadetblue;
}
.right {
    height: 100%;
    width: 50%;
    background-color: darkslategrey;
}




 @media (max-width : 600px) {
     .nav {
         background-color: burlywood;
         color: antiquewhite;
         padding: 0 4vw;
         height: 50px;
     }

     .nav h4 {
         font-size: 4vw;
         display: none;
     }

     .nav-part2 i {
         display: block;
         font-size: 4.3vw;
         font-weight: 800;
     }
 }



 